* {
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: lightblue;
    margin-left: 20px;
    margin-right: 20px;
  
}
header {
    background-color: darkslateblue;
    text-align: center;
    margin: 100px;
    height: 100px;
}
main {
    margin-left: auto;
    margin-right: auto;
    border: 8px double darkslateblue;
    border-radius: 30px;
    text-align: center;
    padding: auto;
    align-content: center;
    height: 300px;
    margin: 100px;

}
footer {
    background-color: darkslateblue;
    text-align: center;
    height: 150px;

}